body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.footer{
  background-color: #222222;
  align-content: center;
  text-align: center;
  position: fixed;
}

.footer-fixed-bottom { 
  background-color: #222222;
  text-align: center;
  align-content: center;   
  height: 100px;
  padding-top:20px;
}

.footer-fixed-bottom > p { background-color: #222222;
  align-content: center;
  text-align: center;
  text-decoration-color: #ffffff;
  color: #ffffff;

}
.footer > p {
  background-color: #222222;
  align-content: center;
  text-align: center;
  text-decoration-color: #ffffff;
  color: #ffffff;
}

.footer > li {
  position: relative;
  display: block;
}

.footer > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #ffffff;
}

.footer > li > a:hover,
.footer > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
